*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background:url(./assets/l4.jpg) no-repeat;
    background-size: 100% 100%;
}

/* first section */
#sec1{
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    height: 10vh;
    color: #fff;
    position: sticky;
    top: 0;
    color: #000;
    background: transparent;
    backdrop-filter: blur(10px);
}

.header a{
    color: #000;
    text-decoration: none;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.eng{
    padding: 0.5rem;
    margin: 0 1rem;
}

.leader{
    padding: 0.5rem;
    margin: 0 1rem;
}

.sign{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
    margin: 0 1rem;
}

.sign:hover{
    background-color: rgba(0, 64, 255, 0.845);
}

.p{
    display: flex;
    margin-left: 55rem;
    padding-right: 2rem;    
    margin-top: 7rem;
    font-weight: 700;
    font-size: 2.3rem;
}

.input-box{
    display: flex;
    margin-left: 55rem;
    margin-top: 1rem;
    height: 3rem;
    width: 32rem;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.pop{
    width: 25rem;
    margin-left: 59rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.pop p{
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: 0.25rem;
}

.pop button{
    font-size: 15px;
    cursor: pointer;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;
    border: 1px solid black;
    border-radius: 12px;
    background:transparent ;
}

.exp{
    width: 7rem;
    margin-left: 55rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: transparent;
}

.exp:hover{
    background-color: rgba(0, 64, 255, 0.845);
}
.exp a{
    text-decoration: none;
    color: #000;
}


/* second section */

#sec2{
    width: 100%;
    height: 100vh;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services{
    box-shadow: 5px 5px 5px #8a8787;
    width: 330px;
    height: 16rem;
    border-radius: 0.5rem;
    margin: 2.5rem 3rem;
    transition: all 300ms ease;
}

.services:hover{
    box-shadow:10px 10px 15px #8a8787;
    cursor: pointer;
    transform: scale(1.1);
 }

.services img{
    width: 100%;
    height: 100%;
}

.services h3{
    font-size:1.5rem;
}